.calibre {
    background: white;
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 4%;
    margin: 1em 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    display: block
    }
.calibre5 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre6 {
    display: block;
    line-height: 1.2
    }
.t {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0%;
    margin: 1em 0
    }
.t1 {
    display: block;
    font-size: 0.75em;
    text-align: center;
    text-indent: 0%;
    margin: 1em 0
    }
.t2 {
    display: block;
    font-size: 1em;
    text-align: center;
    text-indent: 0%;
    margin: 1em 0
    }
.t3b {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-indent: 0%;
    margin: 1em 0
    }
