.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    margin: 0 5pt
    }
.calibre1 {
    font-size: 1em
    }
.dropcap {
    clear: left;
    float: left;
    font-size: 250%;
    line-height: 1em;
    margin: 0 0.1em 0 0;
    padding: 0
    }
.dropcap1 {
    clear: left;
    float: left;
    font-size: 2em;
    line-height: 1em;
    margin: 0 0.1em 0 0;
    padding: 0
    }
.it {
    font-style: italic
    }
.lgc {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em
    }
.lgl {
    display: block
    }
.line {
    display: block;
    text-align: left;
    text-indent: -17px;
    margin: 0 0 0 17px
    }
.line1 {
    display: block;
    font-size: 2em;
    font-variant: small-caps;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.line2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.line3 {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 15em
    }
.line4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 15em
    }
.line5 {
    display: block;
    font-size: 0.75em;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.line6 {
    display: block;
    font-size: 0.75em;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.line7 {
    display: block;
    text-align: left;
    text-indent: -3em;
    margin: 0 auto 0 3em
    }
.line8 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 2em
    }
.literal {
    display: inline-block;
    text-align: left
    }
.literal-container {
    display: block;
    text-align: center;
    margin: 0.5em 0
    }
.nobreak {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 200%;
    page-break-before: avoid;
    text-align: center;
    margin: 2em auto 1em
    }
.noindent {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.pbba {
    display: block
    }
.pindent {
    display: block;
    text-align: left;
    text-indent: 1.5em;
    margin: 0
    }
.poetry-container {
    display: block;
    font-size: 1em;
    text-align: center;
    margin: 0.5em 1em
    }
.sc {
    font-variant: small-caps
    }
